/*body styles*/
body {
    background-color: rgb(190, 58, 5);
    color: white;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 18px;
}

/*this text color will work or over ride the first value above because
this is the most recent value*/
h1 {
    color: rgba(9, 67, 121, 0.555);
    font-size: 40px;
    /* comment out to show
    font-family: Helvetica, Arial, Sans-serif;
    */
}

h2 {
    font-size: 25px;
    /* comment out to show
    font-family: Helvetica, Arial, Sans-serif;
    */
}

.main-text {
    text-align: justify;
}

#author-text {
    font: 22px;
}