* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body styles*/
body {
    background-color: rgb(190, 58, 5);
    color: white;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 18px;
    padding: 10px;
}

/*this text color will work or over ride the first value above because
this is the most recent value*/
h1 {
    color: rgba(9, 67, 121, 0.555);
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.author-text {
    font: 22px;
}

.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.blog-post {
    background-color: #00a2ff;
    width: 75%;
    float: left;
}

.other-posts {
    background-color: #05bb4b;
    width: 25%;
    float: left;
}

.author-box {
    background-color: #c2ce17;
}